.main {
	/* display: grid; */
	/* place-items: center; */
	height: 100%;
	background: linear-gradient(
			to bottom,
			var(--color-bg),
			transparent,
			var(--color-bg)
		),
		radial-gradient(circle, transparent 0%, var(--color-bg) 70%);
}

.main-toolbar{
	background: #000;
	background: linear-gradient(90deg, #000000 0%, #0e021f 64%, #380979 80%, #0895b3 100%);
	background: linear-gradient(90deg, #641691 0%, #0e021f 64%, #380979 80%, #0895b3 100%);
}

.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	pointer-events: none;
	background: hsla(0, 0%, 4%, 0.75);
	transition: opacity 0.2s;
}

@keyframes animateGlow {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}
